# build stuff
node_modules
dist

# git and IDE stuff
.git
.gitignore
.github
.vscode

# config
compose.*.yml
requests.json
.env*
config*.json

# meilisearch
data.ms

# dump and tests
*.pipe
src/test/dump/**/*.test.ts

# misc
/scripts
/state-dump
/docs
*.crt
*.log
.DS_Store
