{
  "home": "/Users/noah/.juno/indexer",
  "rpc": "https://uni-rpc.reece.sh",
  "bech32Prefix": "juno",
  "redis": {
    "host": "127.0.0.1",
    "password": ""
  },
  "db": {
    "data": {
      "dialect": "postgres",
      "host": "localhost",
      "database": "data_db",
      "username": "user"
    },
    "accounts": {
      "dialect": "postgres",
      "host": "localhost",
      "database": "accounts_db",
      "username": "user"
    }
  },
  "meilisearch": {
    "host": "http://localhost:7700",
    "apiKey": "masterKey",
    "indexes": [
      {
        "index": "daos",
        "filterableAttributes": [
          "value.config.name",
          "value.config.description",
          "value.proposalCount",
          "value.polytoneProxies"
        ],
        "sortableAttributes": ["value.proposalCount"],
        "formula": "daoCore/dumpState",
        "codeIdsKeys": ["dao-core"]
      },
      {
        "index": "featured_daos",
        "automatic": false,
        "filterableAttributes": [
          "value.daysSinceLastProposalPassed",
          "value.giniCoefficient",
          "value.memberCount"
        ],
        "sortableAttributes": ["value.tvl"],
        "formula": "daoCore/featuredRank",
        "codeIdsKeys": ["dao-core"]
      }
    ]
  },
  "codeIds": {
    "cw20-stake": [155],
    "dao-core": [163],
    "dao-proposal-multiple": [170],
    "dao-proposal-single": [171],
    "dao-voting-cw20-staked": [172],
    "dao-voting-cw4": [173],
    "dao-voting-cw721-staked": [174],
    "dao-voting-native-staked": [175],
    "cw4-group": [178],
    "polytone-note": [],
    "polytone-voice": []
  },
  "daoDaoBase": "https://testnet.daodao.zone",
  "discordNotifierApiKey": "key",
  "inboxSecret": "secret",
  "notifierSecret": "secret",
  "websocketsSecret": "secret",
  "accountsJwtSecret": "secret"
}
