{
  "openapi": "3.1.0",
  "info": {
    "version": "0.0.1",
    "description": "The DAO DAO API is the primary interface for our custom-built state indexer. It replaces smart contract queries by making blockchain state readily available, and enhances [daodao.zone](https://daodao.zone) with features like real-time page updates, notifications, and search capabilities. This service both reduces our dependence on blockchain nodes and enables the creation of meta-queries that aggregate information across multiple contracts.",
    "title": "DAO DAO API",
    "license": {
      "name": "GNU Affero General Public License v3.0 only",
      "identifier": "AGPL-3.0-only"
    }
  },
  "tags": [
    {
      "name": "contract",
      "description": "Endpoints where a smart contract is the subject"
    },
    {
      "name": "account",
      "description": "Endpoints where any account (wallet, contract, etc.) is the subject"
    },
    {
      "name": "generic",
      "description": "Endpoints that do not have a subject"
    }
  ],
  "servers": [
    {
      "url": "https://indexer.daodao.zone"
    },
    {
      "url": "http://localhost:3420"
    }
  ],
  "paths": {
    "/{chainId}/contract/{contractAddress}/abstract/account/accountId": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "Get accountId of the account",
        "operationId": "abstract_account_accountId_e92f8b5",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/abstract/account/info": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "Get the account info",
        "operationId": "abstract_account_info_5c6d9e1",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/abstract/account/moduleInfos": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "Get module infos that are installed on this account",
        "operationId": "abstract_account_moduleInfos_4de38cc",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/abstract/account/owner": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "Get the owner of the account",
        "operationId": "abstract_account_owner_5d10d52",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/abstract/account/subAccountIds": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "Get sub-accounts owned by this account",
        "operationId": "abstract_account_subAccountIds_842e84a",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/abstract/account/suspensionStatus": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "Get suspension status of the account",
        "operationId": "abstract_account_suspensionStatus_440e941",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/abstract/account/whitelistedModules": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "Get a list of whitelisted modules",
        "operationId": "abstract_account_whitelistedModules_ce3eb11",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/abstract/registry/accountsByModule": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "Filters accounts by module id, version, or address. Returns account id and address",
        "operationId": "abstract_registry_accountsByModule_a8f5734",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/abstract/registry/localAccounts": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "Lists local accounts on chain",
        "operationId": "abstract_registry_localAccounts_7d27966",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/abstract/registry/module": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "Module details",
        "operationId": "abstract_registry_module_7d861e4",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "description": "name of the module",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "namespace",
            "description": "namespace of the module",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "version",
            "description": "semver version of the module",
            "required": false,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/abstract/registry/moduleConfig": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "Configuration of the module installation",
        "operationId": "abstract_registry_moduleConfig_c904a3e",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "description": "name of the module",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "namespace",
            "description": "namespace of the module",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "version",
            "description": "semver version of the module",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/abstract/registry/registeredModules": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "Lists registered modules in registry",
        "operationId": "abstract_registry_registeredModules_310a69c",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cw1Whitelist/adminList": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the list of addresses",
        "operationId": "cw1Whitelist_adminList_96d35ba",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cw20/allAccounts": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves all accounts that hold this token",
        "operationId": "cw20_allAccounts_32215d9",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "description": "maximum number of accounts to return",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          },
          {
            "name": "startAfter",
            "description": "address to start listing after",
            "required": false,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cw20/allowance": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the allowance for a spender from an owner",
        "operationId": "cw20_allowance_0096ac0",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner",
            "description": "address of the token owner",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "spender",
            "description": "address of the spender",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cw20/balance": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the balance of a given address",
        "operationId": "cw20_balance_06ff6af",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "description": "address to check the balance for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cw20/daos": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the DAOs that use this token as their governance token",
        "operationId": "cw20_daos_696579f",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cw20/logoUrl": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the logo URL",
        "operationId": "cw20_logoUrl_3956ed1",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cw20/marketingInfo": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the marketing info",
        "operationId": "cw20_marketingInfo_b885b6b",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cw20/minter": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the minter info",
        "operationId": "cw20_minter_7f2d112",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cw20/ownerAllowances": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves all allowances granted by an owner",
        "operationId": "cw20_ownerAllowances_a857690",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner",
            "description": "address of the token owner",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "limit",
            "description": "maximum number of allowances to return",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          },
          {
            "name": "startAfter",
            "description": "address to start listing after",
            "required": false,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cw20/spenderAllowances": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves all allowances granted to a spender",
        "operationId": "cw20_spenderAllowances_fbf631f",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "spender",
            "description": "address of the spender",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "limit",
            "description": "maximum number of allowances to return",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          },
          {
            "name": "startAfter",
            "description": "address to start listing after",
            "required": false,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cw20/tokenInfo": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the token info",
        "operationId": "cw20_tokenInfo_e2217e8",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cw20/topAccountBalances": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the top account balances",
        "operationId": "cw20_topAccountBalances_448167e",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "description": "maximum number of account balances to return",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cw20Stake/claims": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the claims for an address",
        "operationId": "cw20Stake_claims_1c4b116",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "description": "address to retrieve claims for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cw20Stake/config": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the configuration of the staking contract",
        "operationId": "cw20Stake_config_172b29c",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cw20Stake/getHooks": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the hooks associated with the staking contract",
        "operationId": "cw20Stake_getHooks_13e7ba9",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cw20Stake/listStakers": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "lists stakers and their balances",
        "operationId": "cw20Stake_listStakers_600a364",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "description": "maximum number of stakers to return",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          },
          {
            "name": "startAfter",
            "description": "address to start listing after",
            "required": false,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cw20Stake/stakedBalance": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the staked balance string of an address at a specific block height, defaulting to the current block height",
        "operationId": "cw20Stake_stakedBalance_497bcdb",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "description": "address to check the staked balance for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "height",
            "description": "block height to get the staked balance at",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cw20Stake/stakedBalanceAtHeight": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the staked balance object of an address at a specific block height, defaulting to the current block height",
        "operationId": "cw20Stake_stakedBalanceAtHeight_8577ad6",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "description": "address to check the staked balance for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "height",
            "description": "block height to get the staked balance at",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cw20Stake/stakedValue": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "calculates the value of staked tokens for an address",
        "operationId": "cw20Stake_stakedValue_103f827",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "description": "address to calculate the staked value for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cw20Stake/topStakers": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the top stakers by balance",
        "operationId": "cw20Stake_topStakers_24a9796",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "description": "maximum number of top stakers to return",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cw20Stake/totalStaked": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the total staked amount at a specific block height, defaulting to the current block height",
        "operationId": "cw20Stake_totalStaked_d092abe",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "height",
            "description": "block height to get the total staked amount at",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cw20Stake/totalStakedAtHeight": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the total staked amount at a specific block height, defaulting to the current block height",
        "operationId": "cw20Stake_totalStakedAtHeight_70e0402",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "height",
            "description": "block height to get the total staked amount at",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cw20Stake/totalValue": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the total value of the staking contract",
        "operationId": "cw20Stake_totalValue_ef382e0",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cw4Group/admin": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the admin address of the contract",
        "operationId": "cw4Group_admin_a0c660b",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cw4Group/hooks": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the hooks associated with the contract",
        "operationId": "cw4Group_hooks_2407090",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cw4Group/listMembers": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "lists members of the group",
        "operationId": "cw4Group_listMembers_95574d4",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "description": "maximum number of members to return",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          },
          {
            "name": "startAfter",
            "description": "address to start listing after",
            "required": false,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cw4Group/member": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the weight of a member in the group, optionally at a specific height",
        "operationId": "cw4Group_member_02dfa43",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "description": "address of the member to query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "height",
            "description": "height to query at",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cw4Group/totalWeight": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the total weight of all members in the group, optionally at a specific height",
        "operationId": "cw4Group_totalWeight_52cb18b",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "height",
            "description": "height to query at",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cw721/allNftInfo": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves both NFT info and owner info for a specific token ID",
        "operationId": "cw721_allNftInfo_0537db9",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tokenId",
            "description": "ID of the token to retrieve all info for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cw721/allOperators": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves all operators for a specific owner",
        "operationId": "cw721_allOperators_e1a1ce5",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner",
            "description": "address of the owner to retrieve operators for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "limit",
            "description": "maximum number of operators to return",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          },
          {
            "name": "startAfter",
            "description": "operator address to start listing after",
            "required": false,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cw721/allTokens": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves all tokens in the NFT contract",
        "operationId": "cw721_allTokens_fcdb2ac",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "description": "maximum number of tokens to return",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          },
          {
            "name": "startAfter",
            "description": "token ID to start listing after",
            "required": false,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cw721/approvals": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves all approvals for a specific token",
        "operationId": "cw721_approvals_8cb01c1",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tokenId",
            "description": "ID of the token to retrieve approvals for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cw721/approvalsForSpender": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves approvals for a specific spender on a token",
        "operationId": "cw721_approvalsForSpender_2b4d050",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tokenId",
            "description": "ID of the token to check approvals for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "spender",
            "description": "address of the spender to check approvals for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cw721/contractInfo": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the contract info for the NFT contract",
        "operationId": "cw721_contractInfo_88e7597",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cw721/minter": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the minter address for the NFT contract",
        "operationId": "cw721_minter_e832e9c",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cw721/nftInfo": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the NFT info for a specific token ID",
        "operationId": "cw721_nftInfo_e18f850",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tokenId",
            "description": "ID of the token to retrieve info for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cw721/numTokens": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the total number of tokens in the NFT contract",
        "operationId": "cw721_numTokens_a6a65b3",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cw721/ownerOf": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the owner and approvals for a specific token ID",
        "operationId": "cw721_ownerOf_3c43100",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tokenId",
            "description": "ID of the token to retrieve owner info for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cw721/tokens": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves all tokens owned by a specific address",
        "operationId": "cw721_tokens_bfe1a56",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner",
            "description": "address of the owner to retrieve tokens for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "limit",
            "description": "maximum number of tokens to return",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          },
          {
            "name": "startAfter",
            "description": "token ID to start listing after",
            "required": false,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cwPayrollFactory/codeId": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the code ID of the cw-vesting contract that gets created by this factory",
        "operationId": "cwPayrollFactory_codeId_8acb4aa",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cwPayrollFactory/listVestingContracts": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "lists vesting contracts",
        "operationId": "cwPayrollFactory_listVestingContracts_ef49299",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "description": "maximum number of contracts to return",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          },
          {
            "name": "startAfter",
            "description": "contract address to start listing after",
            "required": false,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cwPayrollFactory/listVestingContractsByInstantiator": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "lists vesting contracts by instantiator",
        "operationId": "cwPayrollFactory_listVestingContractsByInstantia_eafa46d",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instantiator",
            "description": "address of the instantiator",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "limit",
            "description": "maximum number of contracts to return",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          },
          {
            "name": "startAfter",
            "description": "contract address to start listing after",
            "required": false,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cwPayrollFactory/listVestingContractsByInstantiatorReverse": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "lists vesting contracts by instantiator in reverse order",
        "operationId": "cwPayrollFactory_listVestingContractsByInstantia_eafa46d",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instantiator",
            "description": "address of the instantiator",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "limit",
            "description": "maximum number of contracts to return",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          },
          {
            "name": "startBefore",
            "description": "contract address to start listing before",
            "required": false,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cwPayrollFactory/listVestingContractsByRecipient": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "lists vesting contracts by recipient",
        "operationId": "cwPayrollFactory_listVestingContractsByRecipient_b617620",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipient",
            "description": "address of the recipient",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "limit",
            "description": "maximum number of contracts to return",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          },
          {
            "name": "startAfter",
            "description": "contract address to start listing after",
            "required": false,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cwPayrollFactory/listVestingContractsByRecipientReverse": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "lists vesting contracts by recipient in reverse order",
        "operationId": "cwPayrollFactory_listVestingContractsByRecipient_b617620",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipient",
            "description": "address of the recipient",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "limit",
            "description": "maximum number of contracts to return",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          },
          {
            "name": "startBefore",
            "description": "contract address to start listing before",
            "required": false,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cwPayrollFactory/listVestingContractsReverse": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "lists vesting contracts in reverse order",
        "operationId": "cwPayrollFactory_listVestingContractsReverse_626f534",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "description": "maximum number of contracts to return",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          },
          {
            "name": "startBefore",
            "description": "contract address to start listing before",
            "required": false,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cwPayrollFactory/ownership": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the ownership information of the contract",
        "operationId": "cwPayrollFactory_ownership_bd20ed8",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cwTokenSwap/status": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the status of the token swap",
        "operationId": "cwTokenSwap_status_fbd7ab2",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cwVesting/info": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves vesting information",
        "operationId": "cwVesting_info_4998ba3",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cwVesting/ownership": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the contract ownership defined by the cw-ownable crate",
        "operationId": "cwVesting_ownership_08ef5e4",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cwVesting/totalToVest": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "calculates the total amount to be vested",
        "operationId": "cwVesting_totalToVest_abeebe6",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cwVesting/unbondingDurationSeconds": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "calculates the unbonding duration in seconds",
        "operationId": "cwVesting_unbondingDurationSeconds_15dc0d1",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cwVesting/validatorStakes": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the amount staked and unstaking for each validator over time",
        "operationId": "cwVesting_validatorStakes_7e3c238",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cwVesting/vestDuration": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "calculates the duration of the vesting period",
        "operationId": "cwVesting_vestDuration_795db6e",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/cwVesting/vested": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "calculates the vested amount at a given timestamp",
        "operationId": "cwVesting_vested_d4560d5",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "t",
            "description": "nanosecond timestamp to calculate vested amount at, defaulting to the current block",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/daoCore/activeProposalModules": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves all active (enabled) proposal modules for the DAO",
        "operationId": "daoCore_activeProposalModules_4b8c7ee",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/daoCore/admin": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the admin address of the DAO",
        "operationId": "daoCore_admin_4568e31",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/daoCore/adminNomination": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the nominated admin address of the DAO",
        "operationId": "daoCore_adminNomination_010aaa5",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/daoCore/approvalDaos": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves DAOs that have a pre-propose-approval contract whose approver is set to this DAO",
        "operationId": "daoCore_approvalDaos_6086507",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/daoCore/config": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the DAO configuration",
        "operationId": "daoCore_config_b84150d",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/daoCore/cw20Balances": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the CW20 token balances for the DAO",
        "operationId": "daoCore_cw20Balances_dc0f1bd",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/daoCore/cw20List": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the list of CW20 token addresses associated with the DAO",
        "operationId": "daoCore_cw20List_e456920",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/daoCore/cw721List": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the list of CW721 NFT addresses associated with the DAO",
        "operationId": "daoCore_cw721List_22e273b",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/daoCore/daoUri": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the URI of the DAO",
        "operationId": "daoCore_daoUri_d557b1d",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/daoCore/initialActions": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the initial actions for the DAO",
        "operationId": "daoCore_initialActions_51ec55c",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/daoCore/item": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves a specific item from the DAO's storage",
        "operationId": "daoCore_item_0d790a7",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "description": "key of the item to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/daoCore/listItems": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves all items stored in the DAO",
        "operationId": "daoCore_listItems_0d467b2",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/daoCore/listSubDaos": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the list of subDAOs recognized by the DAO",
        "operationId": "daoCore_listSubDaos_621c87b",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/daoCore/pauseInfo": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the pause status of the DAO",
        "operationId": "daoCore_pauseInfo_d4cdeb4",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/daoCore/paused": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the pause status of the DAO",
        "operationId": "daoCore_paused_004f6fb",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/daoCore/polytoneProxies": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves polytone proxies for the DAO",
        "operationId": "daoCore_polytoneProxies_e688e32",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/daoCore/potentialSubDaos": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves potential subDAOs, which are DAOs whose admin state key is set to this DAO. these may or may not be recognized by the DAO",
        "operationId": "daoCore_potentialSubDaos_79bee82",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/daoCore/proposalModules": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves all proposal modules for the DAO",
        "operationId": "daoCore_proposalModules_a52e71c",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/daoCore/totalPower": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the total voting power at the current block height",
        "operationId": "daoCore_totalPower_648dbed",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/daoCore/totalPowerAtHeight": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the total voting power, optionally at a specific block height",
        "operationId": "daoCore_totalPowerAtHeight_6776f07",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "height",
            "description": "block height to check voting power at",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/daoCore/votingModule": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the voting module address of the DAO",
        "operationId": "daoCore_votingModule_55ea282",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/daoCore/votingPower": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the voting power for a given address at the current block height",
        "operationId": "daoCore_votingPower_f6da781",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "description": "address to check voting power for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{contractAddress}/daoCore/votingPowerAtHeight": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "retrieves the voting power for a given address, optionally at a specific block height for a given address",
        "operationId": "daoCore_votingPowerAtHeight_a3c323d",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "description": "address to check voting power for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "height",
            "description": "block height to check voting power at",
            "required": false,
[...]
