{
  "openapi": "3.1.0",
  "info": {
    "version": "0.0.1",
    "description": "The DAO DAO API is the primary interface for our custom-built state indexer. It replaces smart contract queries by making blockchain state readily available, and enhances [daodao.zone](https://daodao.zone) with features like real-time page updates, notifications, and search capabilities. This service both reduces our dependence on blockchain nodes and enables the creation of meta-queries that aggregate information across multiple contracts.",
    "title": "DAO DAO API",
    "license": {
      "name": "GNU Affero General Public License v3.0 only",
      "identifier": "AGPL-3.0-only"
    }
  },
  "tags": [
    {
      "name": "contract",
      "description": "Endpoints where a smart contract is the subject"
    },
    {
      "name": "account",
      "description": "Endpoints where any account (wallet, contract, etc.) is the subject"
    },
    {
      "name": "generic",
      "description": "Endpoints that do not have a subject"
    }
  ],
  "servers": [
    {
      "url": "https://indexer.daodao.zone"
    },
    {
      "url": "http://localhost:3420"
    }
  ],
  "paths": {
    "/{chainId}/contract/{address}/account/accountId": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "account > accountId",
        "description": "Get accountId of the account",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/account/info": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "account > info",
        "description": "Get the account info",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/account/moduleInfos": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "account > moduleInfos",
        "description": "Get module infos that are installed on this account",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/account/owner": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "account > owner",
        "description": "Get the owner of the account",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/account/subAccountIds": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "account > subAccountIds",
        "description": "Get sub-accounts owned by this account",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/account/suspensionStatus": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "account > suspensionStatus",
        "description": "Get suspension status of the account",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/account/whitelistedModules": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "account > whitelistedModules",
        "description": "Get a list of whitelisted modules",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cw1Whitelist/adminList": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cw1Whitelist > adminList",
        "description": "retrieves the list of addresses",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cw20/allAccounts": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cw20 > allAccounts",
        "description": "retrieves all accounts that hold this token",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "description": "maximum number of accounts to return",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          },
          {
            "name": "startAfter",
            "description": "address to start listing after",
            "required": false,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cw20/allowance": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cw20 > allowance",
        "description": "retrieves the allowance for a spender from an owner",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner",
            "description": "address of the token owner",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "spender",
            "description": "address of the spender",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cw20/balance": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cw20 > balance",
        "description": "retrieves the balance of a given address",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "description": "address to check the balance for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cw20/daos": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cw20 > daos",
        "description": "retrieves the DAOs that use this token as their governance token",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cw20/logoUrl": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cw20 > logoUrl",
        "description": "retrieves the logo URL",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cw20/marketingInfo": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cw20 > marketingInfo",
        "description": "retrieves the marketing info",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cw20/minter": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cw20 > minter",
        "description": "retrieves the minter info",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cw20/ownerAllowances": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cw20 > ownerAllowances",
        "description": "retrieves all allowances granted by an owner",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner",
            "description": "address of the token owner",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "limit",
            "description": "maximum number of allowances to return",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          },
          {
            "name": "startAfter",
            "description": "address to start listing after",
            "required": false,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cw20/spenderAllowances": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cw20 > spenderAllowances",
        "description": "retrieves all allowances granted to a spender",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "spender",
            "description": "address of the spender",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "limit",
            "description": "maximum number of allowances to return",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          },
          {
            "name": "startAfter",
            "description": "address to start listing after",
            "required": false,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cw20/tokenInfo": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cw20 > tokenInfo",
        "description": "retrieves the token info",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cw20/topAccountBalances": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cw20 > topAccountBalances",
        "description": "retrieves the top account balances",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "description": "maximum number of account balances to return",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cw20Stake/claims": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cw20Stake > claims",
        "description": "retrieves the claims for an address",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "description": "address to retrieve claims for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cw20Stake/config": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cw20Stake > config",
        "description": "retrieves the configuration of the staking contract",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cw20Stake/getHooks": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cw20Stake > getHooks",
        "description": "retrieves the hooks associated with the staking contract",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cw20Stake/listStakers": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cw20Stake > listStakers",
        "description": "lists stakers and their balances",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "description": "maximum number of stakers to return",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          },
          {
            "name": "startAfter",
            "description": "address to start listing after",
            "required": false,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cw20Stake/stakedBalance": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cw20Stake > stakedBalance",
        "description": "retrieves the staked balance string of an address at a specific block height, defaulting to the current block height",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "description": "address to check the staked balance for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "height",
            "description": "block height to get the staked balance at",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cw20Stake/stakedBalanceAtHeight": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cw20Stake > stakedBalanceAtHeight",
        "description": "retrieves the staked balance object of an address at a specific block height, defaulting to the current block height",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "description": "address to check the staked balance for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "height",
            "description": "block height to get the staked balance at",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cw20Stake/stakedValue": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cw20Stake > stakedValue",
        "description": "calculates the value of staked tokens for an address",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "description": "address to calculate the staked value for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cw20Stake/topStakers": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cw20Stake > topStakers",
        "description": "retrieves the top stakers by balance",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "description": "maximum number of top stakers to return",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cw20Stake/totalStaked": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cw20Stake > totalStaked",
        "description": "retrieves the total staked amount at a specific block height, defaulting to the current block height",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "height",
            "description": "block height to get the total staked amount at",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cw20Stake/totalStakedAtHeight": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cw20Stake > totalStakedAtHeight",
        "description": "retrieves the total staked amount at a specific block height, defaulting to the current block height",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "height",
            "description": "block height to get the total staked amount at",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cw20Stake/totalValue": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cw20Stake > totalValue",
        "description": "retrieves the total value of the staking contract",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cw4Group/admin": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cw4Group > admin",
        "description": "retrieves the admin address of the contract",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cw4Group/hooks": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cw4Group > hooks",
        "description": "retrieves the hooks associated with the contract",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cw4Group/listMembers": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cw4Group > listMembers",
        "description": "lists members of the group",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "description": "maximum number of members to return",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          },
          {
            "name": "startAfter",
            "description": "address to start listing after",
            "required": false,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cw4Group/member": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cw4Group > member",
        "description": "retrieves the weight of a member in the group, optionally at a specific height",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "description": "address of the member to query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "height",
            "description": "height to query at",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cw4Group/totalWeight": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cw4Group > totalWeight",
        "description": "retrieves the total weight of all members in the group, optionally at a specific height",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "height",
            "description": "height to query at",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cw721/allNftInfo": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cw721 > allNftInfo",
        "description": "retrieves both NFT info and owner info for a specific token ID",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tokenId",
            "description": "ID of the token to retrieve all info for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cw721/allOperators": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cw721 > allOperators",
        "description": "retrieves all operators for a specific owner",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner",
            "description": "address of the owner to retrieve operators for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "limit",
            "description": "maximum number of operators to return",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          },
          {
            "name": "startAfter",
            "description": "operator address to start listing after",
            "required": false,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cw721/allTokens": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cw721 > allTokens",
        "description": "retrieves all tokens in the NFT contract",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "description": "maximum number of tokens to return",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          },
          {
            "name": "startAfter",
            "description": "token ID to start listing after",
            "required": false,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cw721/approvals": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cw721 > approvals",
        "description": "retrieves all approvals for a specific token",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tokenId",
            "description": "ID of the token to retrieve approvals for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cw721/approvalsForSpender": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cw721 > approvalsForSpender",
        "description": "retrieves approvals for a specific spender on a token",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tokenId",
            "description": "ID of the token to check approvals for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "spender",
            "description": "address of the spender to check approvals for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cw721/contractInfo": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cw721 > contractInfo",
        "description": "retrieves the contract info for the NFT contract",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cw721/minter": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cw721 > minter",
        "description": "retrieves the minter address for the NFT contract",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cw721/nftInfo": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cw721 > nftInfo",
        "description": "retrieves the NFT info for a specific token ID",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tokenId",
            "description": "ID of the token to retrieve info for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cw721/numTokens": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cw721 > numTokens",
        "description": "retrieves the total number of tokens in the NFT contract",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cw721/ownerOf": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cw721 > ownerOf",
        "description": "retrieves the owner and approvals for a specific token ID",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tokenId",
            "description": "ID of the token to retrieve owner info for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cw721/tokens": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cw721 > tokens",
        "description": "retrieves all tokens owned by a specific address",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner",
            "description": "address of the owner to retrieve tokens for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "limit",
            "description": "maximum number of tokens to return",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          },
          {
            "name": "startAfter",
            "description": "token ID to start listing after",
            "required": false,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cwPayrollFactory/codeId": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cwPayrollFactory > codeId",
        "description": "retrieves the code ID of the cw-vesting contract that gets created by this factory",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cwPayrollFactory/listVestingContracts": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cwPayrollFactory > listVestingContracts",
        "description": "lists vesting contracts",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "description": "maximum number of contracts to return",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          },
          {
            "name": "startAfter",
            "description": "contract address to start listing after",
            "required": false,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cwPayrollFactory/listVestingContractsByInstantiator": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cwPayrollFactory > listVestingContractsByInstantiator",
        "description": "lists vesting contracts by instantiator",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instantiator",
            "description": "address of the instantiator",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "limit",
            "description": "maximum number of contracts to return",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          },
          {
            "name": "startAfter",
            "description": "contract address to start listing after",
            "required": false,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cwPayrollFactory/listVestingContractsByInstantiatorReverse": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cwPayrollFactory > listVestingContractsByInstantiatorReverse",
        "description": "lists vesting contracts by instantiator in reverse order",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instantiator",
            "description": "address of the instantiator",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "limit",
            "description": "maximum number of contracts to return",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          },
          {
            "name": "startBefore",
            "description": "contract address to start listing before",
            "required": false,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cwPayrollFactory/listVestingContractsByRecipient": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cwPayrollFactory > listVestingContractsByRecipient",
        "description": "lists vesting contracts by recipient",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipient",
            "description": "address of the recipient",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "limit",
            "description": "maximum number of contracts to return",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          },
          {
            "name": "startAfter",
            "description": "contract address to start listing after",
            "required": false,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cwPayrollFactory/listVestingContractsByRecipientReverse": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cwPayrollFactory > listVestingContractsByRecipientReverse",
        "description": "lists vesting contracts by recipient in reverse order",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipient",
            "description": "address of the recipient",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "limit",
            "description": "maximum number of contracts to return",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          },
          {
            "name": "startBefore",
            "description": "contract address to start listing before",
            "required": false,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cwPayrollFactory/listVestingContractsReverse": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cwPayrollFactory > listVestingContractsReverse",
        "description": "lists vesting contracts in reverse order",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "description": "maximum number of contracts to return",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          },
          {
            "name": "startBefore",
            "description": "contract address to start listing before",
            "required": false,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cwPayrollFactory/ownership": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cwPayrollFactory > ownership",
        "description": "retrieves the ownership information of the contract",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cwTokenSwap/status": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cwTokenSwap > status",
        "description": "retrieves the status of the token swap",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cwVesting/info": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cwVesting > info",
        "description": "retrieves vesting information",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cwVesting/ownership": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cwVesting > ownership",
        "description": "retrieves the contract ownership defined by the cw-ownable crate",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cwVesting/totalToVest": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cwVesting > totalToVest",
        "description": "calculates the total amount to be vested",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cwVesting/unbondingDurationSeconds": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cwVesting > unbondingDurationSeconds",
        "description": "calculates the unbonding duration in seconds",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cwVesting/validatorStakes": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cwVesting > validatorStakes",
        "description": "retrieves the amount staked and unstaking for each validator over time",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cwVesting/vestDuration": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cwVesting > vestDuration",
        "description": "calculates the duration of the vesting period",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/cwVesting/vested": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "cwVesting > vested",
        "description": "calculates the vested amount at a given timestamp",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "t",
            "description": "nanosecond timestamp to calculate vested amount at, defaulting to the current block",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/daoCore/activeProposalModules": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "daoCore > activeProposalModules",
        "description": "retrieves all active (enabled) proposal modules for the DAO",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/daoCore/admin": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "daoCore > admin",
        "description": "retrieves the admin address of the DAO",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/daoCore/adminNomination": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "daoCore > adminNomination",
        "description": "retrieves the nominated admin address of the DAO",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/daoCore/approvalDaos": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "daoCore > approvalDaos",
        "description": "retrieves DAOs that have a pre-propose-approval contract whose approver is set to this DAO",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/daoCore/config": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "daoCore > config",
        "description": "retrieves the DAO configuration",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/daoCore/cw20Balances": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "daoCore > cw20Balances",
        "description": "retrieves the CW20 token balances for the DAO",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/daoCore/cw20List": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "daoCore > cw20List",
        "description": "retrieves the list of CW20 token addresses associated with the DAO",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/daoCore/cw721List": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "daoCore > cw721List",
        "description": "retrieves the list of CW721 NFT addresses associated with the DAO",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/daoCore/daoUri": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "daoCore > daoUri",
        "description": "retrieves the URI of the DAO",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/daoCore/item": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "daoCore > item",
        "description": "retrieves a specific item from the DAO's storage",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "description": "key of the item to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/daoCore/listItems": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "daoCore > listItems",
        "description": "retrieves all items stored in the DAO",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/daoCore/listSubDaos": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "daoCore > listSubDaos",
        "description": "retrieves the list of subDAOs recognized by the DAO",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/daoCore/pauseInfo": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "daoCore > pauseInfo",
        "description": "retrieves the pause status of the DAO",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/daoCore/paused": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "daoCore > paused",
        "description": "retrieves the pause status of the DAO",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/daoCore/polytoneProxies": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "daoCore > polytoneProxies",
        "description": "retrieves polytone proxies for the DAO",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/daoCore/potentialSubDaos": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "daoCore > potentialSubDaos",
        "description": "retrieves potential subDAOs, which are DAOs whose admin state key is set to this DAO. these may or may not be recognized by the DAO",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/daoCore/proposalModules": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "daoCore > proposalModules",
        "description": "retrieves all proposal modules for the DAO",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/daoCore/totalPower": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "daoCore > totalPower",
        "description": "retrieves the total voting power at the current block height",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/daoCore/totalPowerAtHeight": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "daoCore > totalPowerAtHeight",
        "description": "retrieves the total voting power, optionally at a specific block height",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "height",
            "description": "block height to check voting power at",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/daoCore/votingModule": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "daoCore > votingModule",
        "description": "retrieves the voting module address of the DAO",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/daoCore/votingPower": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "daoCore > votingPower",
        "description": "retrieves the voting power for a given address at the current block height",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "description": "address to check voting power for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/daoCore/votingPowerAtHeight": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "daoCore > votingPowerAtHeight",
        "description": "retrieves the voting power for a given address, optionally at a specific block height for a given address",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "description": "address to check voting power for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "height",
            "description": "block height to check voting power at",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/daoCore/dumpState": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "daoCore > dumpState",
        "description": "retrieves a lot of high-level information about a DAO, including its voting and proposal modules",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/daoCore/junoHomeMetadata": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "daoCore > junoHomeMetadata",
        "description": "retrieves specific DAO metadata for the Juno website",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/daoCore/allMembers": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "daoCore > allMembers",
        "description": "retrieves all members of the DAO and optionally its SubDAOs",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recursive",
            "description": "whether or not to recurse into SubDAOs. defaults to true",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/daoCore/lastMembershipChange": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "daoCore > lastMembershipChange",
        "description": "retrieves the date membership was last updated for a member-based DAO",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/daoCore/listMembers": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "daoCore > listMembers",
        "description": "lists all members of the DAO with their voting power percentages",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/daoCore/memberCount": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "daoCore > memberCount",
        "description": "count of unique members in the DAO and optionally its SubDAOs",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recursive",
            "description": "whether or not to recurse into SubDAOs. defaults to true",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/daoCore/allProposals": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "daoCore > allProposals",
        "description": "retrieves all proposals, optionally including SubDAOs",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "description": "set to `passed` to filter by proposals that were passed, including those that were executed",
            "required": false,
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "recursive",
            "description": "whether to recurse into SubDAOs (defaults to true)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "missing required arguments"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/daoCore/lastActivity": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "daoCore > lastActivity",
        "description": "retrieves the date of the most recent proposal event (completion or creation)",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "chain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/{chainId}/contract/{address}/daoCore/openProposals": {
      "get": {
        "tags": [
          "contract"
        ],
        "summary": "daoCore > openProposals",
[...]
